spring:
  application:
    name: NFDIV Case API Functional Tests

  main:
    allow-bean-definition-overriding: true
# because functional tests load up SpringBootTest
azure:
  application-insights:
    instrumentation-key: functional-test

test-url: ${TEST_URL:http://localhost:4013}

uk:
  gov:
    notify:
      api:
        key: dummy
        baseUrl: https://api.notifications.service.gov.uk
      email:
        replyToId: cbfaf301-e882-4b91-b7d4-70f22d81cddd
s2s:
  name: ccd_data

idam:
  api:
    url: ${IDAM_API_BASEURL:https://idam-api.aat.platform.hmcts.net}
  s2s-auth:
    url: ${TEST_S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    secret: ${S2S_SECRET:dummy}
    microservice: nfdiv_case_api
  solicitor:
    username: ${IDAM_SOLICITOR_USERNAME:dummysolicitor@test.com}
    password: ${IDAM_SOLICITOR_PASSWORD:dummy}
  caseworker:
    username: ${IDAM_CASEWORKER_USERNAME:dummycaseworker@test.com}
    password: ${IDAM_CASEWORKER_PASSWORD:dummy}
  systemupdate:
    username: ${IDAM_SYSTEM_UPDATE_USERNAME:dummysystemupdate@test.com}
    password: ${IDAM_SYSTEM_UPDATE_PASSWORD:dummy}
  client:
    id: 'divorce'
    secret: ${OAUTH2_CLIENT_SECRET:dummy}
    redirect_uri: ${IDAM_API_REDIRECT_URL:http://localhost:3001/oauth2/callback}

s2s-authorised:
  services: ccd_data

fee:
  api:
    baseUrl: ${FEE_API_URL:http://fees-register-api-aat.service.core-compute-aat.internal}

aac:
  api:
    url: ${AAC_MANAGE_CASE_ASSIGNMENT_BASEURL:http://aac-manage-case-assignment-aat.service.core-compute-aat.internal}

core_case_data:
  api:
    url: ${CASE_DATA_STORE_BASEURL:http://ccd-data-store-api-aat.service.core-compute-aat.internal}
  search:
    page_size: ${CCD_SEARCH_PAGE_SIZE:50}
    total_max_results: ${CCD_SEARCH_MAX_RESULTS:250}

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:http://dg-docassembly-aat.service.core-compute-aat.internal}

case_document_am:
  url: ${CASE_DOCUMENT_AM_URL:http://ccd-case-document-am-api-aat.service.core-compute-aat.internal}

prd:
  api:
    url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

send-letter:
  url: ${SEND_LETTER_SERVICE_BASEURL:http://rpe-send-letter-service-aat.service.core-compute-aat.internal}

aos_pack:
  due_date_offset_days: 16
  due_date_offset_days_disputed: 21

case_progression:
  holding_offset_days: ${HOLDING_DUE_DATE_OFFSET_DAYS:141}

submit_aos:
  dispute_offset_days: ${DISPUTE_DUE_DATE_OFFSET_DAYS:37}
  disputedAOS_fee: '270'

submit_co:
  reminder_offset_days: ${SUBMIT_CO_REMINDER_OFFSET_DAYS:14}

final_order:
  eligible_from_offset_days: ${FINAL_ORDER_ELIGIBLE_FROM_OFFSET_DAYS:43}
  respondent_eligible_from_offset_months: ${FINAL_ORDER_RESPONDENT_ELIGIBLE_FROM_OFFSET_MONTHS:3}
  awaiting_joint_final_order_reminder_offset_days: ${AWAITING_JOINT_FINAL_ORDER_REMINDER_OFFSET_DAYS:7}

apply_for_final_order:
  reminder_offset_days: ${APPLY_FOR_FINAL_ORDER_REMINDER_OFFSET_DAYS:14}

aos_overdue:
  arrange_service_offset_days: ${AOS_OVERDUE_ARRANGE_SERVICE_OFFSET_DAYS:28}

applicant:
  response_offset_days: ${APPLICANT_RESPOND_BY_OFFSET_DAYS:16}

applicant_2:
  to_link_to_case_offset_days: ${TO_LINK_TO_CASE_BY_OFFSET_DAYS:14}

respondent_solicitor:
  response_offset_days: ${RESPONDENT_SOLICITOR_RESPOND_BY_OFFSET_DAYS:10}

judicial_separation_answer_overdue:
  offset_days: ${JS_ANSWER_OVERDUE_BY_OFFSET_DAYS:14}

court:
  locations:
    serviceCentre:
      serviceCentreName: 'Courts and Tribunals Service Centre'
      centreName: 'HMCTS Digital Divorce'
      town: 'Harlow'
      poBox: 'PO Box 13226'
      postCode: 'CM20 9UG'
      email: 'contactdivorce@justice.gov.uk'
      phoneNumber: '0300 303 0642'

pba:
  ref:
    data:
      service:
        url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

payment:
  service:
    api:
      baseurl: ${PAYMENT_API_BASEURL:http://payment-api-aat.service.core-compute-aat.internal}

bulk-action:
  min-cases: 30
  page-size: 50

SERVICE_AUTH_MICROSERVICE: nfdiv_case_api
SERVICE_AUTH_PROVIDER_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal

logging:
  level:
    org:
      springframework:
        cache: TRACE
