server:
  port: 4013

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

spring:
  application:
    name: NFDIV Case API
  config:
    import: "optional:configtree:/mnt/secrets/nfdiv/"
  main:
    allow-bean-definition-overriding: true
azure:
  application-insights:
    instrumentation-key: ${APP_INSIGHTS_KEY:00000000-0000-0000-0000-000000000000}

uk:
  gov:
    notify:
      api:
        key: ${UK_GOV_NOTIFY_API_KEY:dummy}
        baseUrl: https://api.notifications.service.gov.uk
      email:
        templateVars:
          signInDivorceUrl: ${NOTIFY_TEMPLATE_SIGN_IN_DIVORCE_URL:https://nfdiv-apply-for-divorce.aat.platform.hmcts.net/}
          applicant2SignInDivorceUrl: ${NOTIFY_TEMPLATE_APPLICANT2_SIGN_IN_DIVORCE_URL:https://nfdiv-apply-for-divorce.aat.platform.hmcts.net/applicant2}
          applicant2SignInDissolutionUrl: ${NOTIFY_TEMPLATE_APPLICANT2_SIGN_IN_DISSOLUTION_URL:https://nfdiv-end-civil-partnership.aat.platform.hmcts.net/applicant2}
          signInDissolutionUrl: ${NOTIFY_TEMPLATE_SIGN_IN_DISSOLUTION_URL:https://nfdiv-end-civil-partnership.aat.platform.hmcts.net/}
          divorceCourtEmail: contactdivorce@justice.gov.uk
          dissolutionCourtEmail: civilpartnership.case@justice.gov.uk
        templates:
          english:
            SAVE_SIGN_OUT: '3aff9dc0-0188-42f6-a0be-fc5daa404d9a'
            OUTSTANDING_ACTIONS: '1bc9ce05-557b-4cf6-9e20-87d57d55e89c'
            APPLICATION_SUBMITTED: '68b87fab-f99f-49c2-a3df-04415d003eb9'
            JOINT_APPLICANT1_ANSWERS_SENT_FOR_REVIEW: 'd15a318f-404b-4c29-8a01-1febee5bf2d5'
            JOINT_APPLICANT2_ANSWERS_SENT_FOR_REVIEW: 'd7e4af3e-53b4-4372-ac28-296e43182a21'
            SOL_APPLICANT_APPLICATION_SUBMITTED: '3ecccc69-81e7-4bcd-8316-0547fd30795f'
            SOL_APPLICANT_AMENDED_APPLICATION_SUBMITTED: 'd87e0405-15bb-405b-b277-27cec5444106'
            SOL_APPLICANT_SOLICITOR_APPLICATION_SUBMITTED: '97814664-95e9-457d-a40d-e062c0b6cfce'
            SOL_APPLICANT_SOLICITOR_AMENDED_APPLICATION_SUBMITTED: '61b44a57-4e00-40d7-bce8-205863f94230'
            APPLICANT_SOLICITOR_NOTICE_OF_PROCEEDINGS: '841a2098-f0fe-4348-aa84-4e716b8b2c54'
            RESPONDENT_SOLICITOR_NOTICE_OF_PROCEEDINGS: '841a2098-f0fe-4348-aa84-4e716b8b2c54'
            APPLICANT_NOTICE_OF_PROCEEDINGS: '2d79f93a-aabc-470a-b5f5-333059787a8a'
            APPLICANT_SOLICITOR_PERSONAL_SERVICE: '1fb44d0d-c743-4bff-9e5c-6a62d3711517'
          welsh:
            SAVE_SIGN_OUT: '6e9526c5-9380-4bf1-879a-b8e401e39a6f'
            OUTSTANDING_ACTIONS: '1bc9ce05-557b-4cf6-9e20-87d57d55e89c'
            APPLICATION_SUBMITTED: '68b87fab-f99f-49c2-a3df-04415d003eb9'
            SOL_APPLICANT_APPLICATION_SUBMITTED: '3ecccc69-81e7-4bcd-8316-0547fd30795f'
            SOL_APPLICANT_AMENDED_APPLICATION_SUBMITTED: 'd87e0405-15bb-405b-b277-27cec5444106'
            SOL_APPLICANT_SOLICITOR_APPLICATION_SUBMITTED: '97814664-95e9-457d-a40d-e062c0b6cfce'
            SOL_APPLICANT_SOLICITOR_AMENDED_APPLICATION_SUBMITTED: '61b44a57-4e00-40d7-bce8-205863f94230'
            APPLICANT_NOTICE_OF_PROCEEDINGS: '2d79f93a-aabc-470a-b5f5-333059787a8a'

s2s-authorised:
  services: ${S2S_AUTHORISED_SERVICES:ccd_data}

idam:
  s2s-auth:
    url: ${S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
    microservice: nfdiv_case_api
  api:
    url: ${IDAM_API_BASEURL:http://localhost:5000}
  caseworker:
    username: ${IDAM_CASEWORKER_USERNAME:dummycaseworker@test.com}
    password: ${IDAM_CASEWORKER_PASSWORD:dummy}
  client:
    id: 'divorce'
    secret: ${IDAM_CLIENT_SECRET:123456}
    redirect_uri: ${IDAM_API_REDIRECT_URL:http://localhost:3001/oauth2/callback}

fee:
  api:
    baseUrl: ${FEE_API_URL:http://fees-register-api-aat.service.core-compute-aat.internal}

s2s:
  stub: false

core_case_data:
  api:
    url: ${CASE_DATA_STORE_BASEURL:http://ccd-data-store-api-aat.service.core-compute-aat.internal}
  search:
    page_size: ${CCD_SEARCH_PAGE_SIZE:100}

docmosis:
  templates:
    english:
      DIVORCE_MINI_APPLICATION: Divorce_CP_Mini_Application_Sole_Joint.docx
      DIVORCE_MINI_DRAFT_APPLICATION: Divorce_CP_Mini_Draft_Application_Template.docx
      RESP_SOLICITOR_AOS_INVITATION: Divorce_CP_Dummy_Template.docx #TODO: Set correct template when available
    welsh:
      #TODO: Set correct DIVORCE_MINI_APPLICATION template when available
      DIVORCE_MINI_APPLICATION: FL-DIV-GNO-WEL-00256.docx
      DIVORCE_MINI_DRAFT_APPLICATION: FL-DIV-GNO-WEL-00256.docx
      RESP_SOLICITOR_AOS_INVITATION: Divorce_CP_Dummy_Template.docx #TODO: Set correct template when available

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:http://dg-docassembly-aat.service.core-compute-aat.internal}

document_management:
  url: ${DOCUMENT_MANAGEMENT_URL:http://dm-store-aat.service.core-compute-aat.internal}

prd:
  api:
    url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

send-letter:
  url: ${SEND_LETTER_SERVICE_BASEURL:http://rpe-send-letter-service-aat.service.core-compute-aat.internal}

schedule:
  issue_aos: '0 0 0 * * ?' # Midnight each day
  awaiting_conditional_order: '0 0 0 * * ?' # Midnight each day

aos_pack:
  due_date_offset_days: ${AOS_PACK_DUE_DATE_OFFSET_DAYS:30}
