server:
  port: 4013

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

spring:
  application:
    name: NFDIV Case API
  config:
    import: "optional:configtree:/mnt/secrets/nfdiv/"
  main:
    allow-bean-definition-overriding: true
azure:
  application-insights:
    instrumentation-key: ${APP_INSIGHTS_KEY:00000000-0000-0000-0000-000000000000}

uk:
  gov:
    notify:
      api:
        key: ${UK_GOV_NOTIFY_API_KEY:dummy}
        baseUrl: https://api.notifications.service.gov.uk
      email:
        templateVars:
          signInDivorceUrl: ${NOTIFY_TEMPLATE_SIGN_IN_DIVORCE_URL:https://nfdiv-apply-for-divorce.aat.platform.hmcts.net/}
          applicant2SignInDivorceUrl: ${NOTIFY_TEMPLATE_APPLICANT2_SIGN_IN_DIVORCE_URL:https://nfdiv-apply-for-divorce.aat.platform.hmcts.net/applicant2}
          applicant2SignInDissolutionUrl: ${NOTIFY_TEMPLATE_APPLICANT2_SIGN_IN_DISSOLUTION_URL:https://nfdiv-end-civil-partnership.aat.platform.hmcts.net/applicant2}
          respondentSignInDivorceUrl: ${NOTIFY_TEMPLATE_RESPONDENT_SIGN_IN_DIVORCE_URL:https://nfdiv-apply-for-divorce.aat.platform.hmcts.net/respondent}
          respondentSignInDissolutionUrl: ${NOTIFY_TEMPLATE_RESPONDENT_SIGN_IN_DISSOLUTION_URL:https://nfdiv-end-civil-partnership.aat.platform.hmcts.net/respondent}
          signInDissolutionUrl: ${NOTIFY_TEMPLATE_SIGN_IN_DISSOLUTION_URL:https://nfdiv-end-civil-partnership.aat.platform.hmcts.net/}
          divorceCourtEmail: contactdivorce@justice.gov.uk
          dissolutionCourtEmail: civilpartnership.case@justice.gov.uk
        templates:
          english:
            SAVE_SIGN_OUT: '3aff9dc0-0188-42f6-a0be-fc5daa404d9a'
            OUTSTANDING_ACTIONS: '1bc9ce05-557b-4cf6-9e20-87d57d55e89c'
            APPLICATION_SUBMITTED: '68b87fab-f99f-49c2-a3df-04415d003eb9'
            JOINT_APPLICANT1_ANSWERS_SENT_FOR_REVIEW: 'd15a318f-404b-4c29-8a01-1febee5bf2d5'
            JOINT_APPLICANT2_ANSWERS_SENT_FOR_REVIEW: 'd7e4af3e-53b4-4372-ac28-296e43182a21'
            JOINT_APPLICANT2_REQUEST_CHANGES: '99b0b24c-a54d-486a-a69a-4348eb2e66a4'
            JOINT_APPLICANT1_APPLICANT2_APPROVED: '59ab58b7-b102-4b17-b023-226ce399668b'
            JOINT_APPLICANT1_APPLICANT2_APPROVED_WITHOUT_HWF: 'f7b63c3d-d687-401d-8e4e-14e1aa0c77b5'
            JOINT_APPLICANT2_APPLICANT2_APPROVED: '6c9270fc-82c4-4355-b0e4-b88a778ef5db'
            JOINT_APPLICANT1_APPLICANT2_REJECTED: '92440b46-66f9-4b15-bf28-047b5cc8202d'
            JOINT_APPLICANT2_APPLICANT2_REJECTED: '38d403a8-a3a2-4cbf-bfd6-de406583047c'
            JOINT_APPLICANT1_NEED_TO_MAKE_CHANGES: '356a4b59-fbaf-4367-9b47-dbd05340b073'
            JOINT_APPLICANT1_APPLICANT1_CHANGES_MADE: 'b823559f-e421-432f-bb3f-051cdb3db007'
            JOINT_APPLICANT2_APPLICANT1_CHANGES_MADE: 'e0398a62-8900-48d0-baf8-5d73040089ae'
            JOINT_APPLICATION_ACCEPTED: '39aac458-5f31-442e-bee7-0f97bb584d98'
            JOINT_APPLICATION_OVERDUE: '63b41176-67eb-4ad7-9e3d-fa8aabd77c6a'
            JOINT_APPLICATION_APPROVED_APPLICANT1_REMINDER: '59ab58b7-b102-4b17-b023-226ce399668b'
            SOL_APPLICANT_APPLICATION_ACCEPTED: '5f9d4cbe-623e-4066-ae87-76f9afeae884'
            SOL_RESPONDENT_APPLICATION_ACCEPTED: '1726bcfb-95c7-4afd-b789-8072551febd1'
            SOL_APPLICANT_APPLICATION_SUBMITTED: '3ecccc69-81e7-4bcd-8316-0547fd30795f'
            SOL_APPLICANT_AMENDED_APPLICATION_SUBMITTED: 'd87e0405-15bb-405b-b277-27cec5444106'
            SOL_APPLICANT_SOLICITOR_APPLICATION_SUBMITTED: '97814664-95e9-457d-a40d-e062c0b6cfce'
            SOL_APPLICANT_SOLICITOR_AMENDED_APPLICATION_SUBMITTED: '61b44a57-4e00-40d7-bce8-205863f94230'
            APPLICANT_SOLICITOR_NOTICE_OF_PROCEEDINGS: '841a2098-f0fe-4348-aa84-4e716b8b2c54'
            RESPONDENT_SOLICITOR_NOTICE_OF_PROCEEDINGS: '841a2098-f0fe-4348-aa84-4e716b8b2c54'
            APPLICANT_NOTICE_OF_PROCEEDINGS: '2d79f93a-aabc-470a-b5f5-333059787a8a'
            APPLICANT_SOLICITOR_SERVICE: '1fb44d0d-c743-4bff-9e5c-6a62d3711517'
            GENERAL_EMAIL_PETITIONER: '48a1dd7e-1a46-4c1b-be4c-c7e733c8334e'
            GENERAL_EMAIL_PETITIONER_SOLICITOR: 'ca22e5be-7460-48af-b781-ef1564a63a29'
            GENERAL_EMAIL_RESPONDENT: 'fccb96fb-7d6a-41f3-9d63-bebfc76829ef'
            GENERAL_EMAIL_RESPONDENT_SOLICITOR: 'ac9a9948-25d8-4e59-8025-89860c251d3a'
            GENERAL_EMAIL_OTHER_PARTY: '2c188c63-db80-46b4-a1e2-53fdc510d5b9'
            SOLICITOR_AWAITING_CONDITIONAL_ORDER: '3f2e50a1-b4ae-4466-bb8c-eac55563aa02'
            CITIZEN_APPLY_FOR_CONDITIONAL_ORDER: '39def49e-2d2d-489e-b715-3103e27d5977'
          welsh:
            SAVE_SIGN_OUT: '6e9526c5-9380-4bf1-879a-b8e401e39a6f'
            OUTSTANDING_ACTIONS: '1bc9ce05-557b-4cf6-9e20-87d57d55e89c'
            APPLICATION_SUBMITTED: '68b87fab-f99f-49c2-a3df-04415d003eb9'
            SOL_APPLICANT_APPLICATION_SUBMITTED: '3ecccc69-81e7-4bcd-8316-0547fd30795f'
            SOL_APPLICANT_AMENDED_APPLICATION_SUBMITTED: 'd87e0405-15bb-405b-b277-27cec5444106'
            SOL_APPLICANT_SOLICITOR_APPLICATION_SUBMITTED: '97814664-95e9-457d-a40d-e062c0b6cfce'
            SOL_APPLICANT_SOLICITOR_AMENDED_APPLICATION_SUBMITTED: '61b44a57-4e00-40d7-bce8-205863f94230'
            APPLICANT_NOTICE_OF_PROCEEDINGS: '2d79f93a-aabc-470a-b5f5-333059787a8a'
            GENERAL_EMAIL_PETITIONER: '48a1dd7e-1a46-4c1b-be4c-c7e733c8334e'
            GENERAL_EMAIL_PETITIONER_SOLICITOR: 'ca22e5be-7460-48af-b781-ef1564a63a29'
            GENERAL_EMAIL_RESPONDENT: 'fccb96fb-7d6a-41f3-9d63-bebfc76829ef'
            GENERAL_EMAIL_RESPONDENT_SOLICITOR: 'ac9a9948-25d8-4e59-8025-89860c251d3a'
            GENERAL_EMAIL_OTHER_PARTY: '2c188c63-db80-46b4-a1e2-53fdc510d5b9'
            SOLICITOR_AWAITING_CONDITIONAL_ORDER: '3f2e50a1-b4ae-4466-bb8c-eac55563aa02'
            CITIZEN_APPLY_FOR_CONDITIONAL_ORDER: '39def49e-2d2d-489e-b715-3103e27d5977'

s2s-authorised:
  services: ${S2S_AUTHORISED_SERVICES:ccd_data}

idam:
  s2s-auth:
    url: ${S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
    microservice: nfdiv_case_api
  api:
    url: ${IDAM_API_BASEURL:http://localhost:5000}
  systemupdate:
    username: ${IDAM_SYSTEM_UPDATE_USERNAME:dummysystemupdate@test.com}
    password: ${IDAM_SYSTEM_UPDATE_PASSWORD:dummy}
  client:
    id: 'divorce'
    secret: ${IDAM_CLIENT_SECRET:123456}
    redirect_uri: ${IDAM_API_REDIRECT_URL:http://localhost:3001/oauth2/callback}

fee:
  api:
    baseUrl: ${FEE_API_URL:http://fees-register-api-aat.service.core-compute-aat.internal}

s2s:
  stub: false

core_case_data:
  api:
    url: ${CASE_DATA_STORE_BASEURL:http://ccd-data-store-api-aat.service.core-compute-aat.internal}
  search:
    page_size: ${CCD_SEARCH_PAGE_SIZE:100}

docmosis:
  templates:
    english:
      DIVORCE_APPLICATION_SOLE: Divorce_CP_Mini_Application_Sole_Joint.docx
      DIVORCE_APPLICATION_JOINT: Divorce_CP_Application_Joint.docx
      DIVORCE_DRAFT_APPLICATION: Divorce_CP_Mini_Draft_Application_Template.docx
      RESP_SOLICITOR_AOS_INVITATION: Divorce_CP_Dummy_Template.docx #TODO: Set correct template when available
      CITIZEN_RESP_AOS_INVITATION: Divorce_CP_Dummy_Template.docx #TODO: Set correct template when available
      DIVORCE_GENERAL_ORDER: Divorce_General_Order_Eng.docx #TODO: update template once available
      RESPONDENT_ANSWERS: Divorce_Respondent_Answers_Eng.docx #TODO: update content
    welsh:
      DIVORCE_APPLICATION_SOLE: Divorce_CP_Dummy_Template.docx #TODO: Set correct template when available
      DIVORCE_APPLICATION_JOINT: Divorce_CP_Dummy_Template.docx #TODO: Set correct template when available
      DIVORCE_DRAFT_APPLICATION: Divorce_CP_Dummy_Template.docx #TODO: Set correct template when available
      RESP_SOLICITOR_AOS_INVITATION: Divorce_CP_Dummy_Template.docx #TODO: Set correct template when available
      CITIZEN_RESP_AOS_INVITATION: Divorce_CP_Dummy_Template.docx #TODO: Set correct template when available
      DIVORCE_GENERAL_ORDER: Divorce_General_Order_Eng.docx #TODO: update template once available
      RESPONDENT_ANSWERS: Divorce_Respondent_Answers_Eng.docx #TODO: replace template once available

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:http://dg-docassembly-aat.service.core-compute-aat.internal}

document_management:
  url: ${DOCUMENT_MANAGEMENT_URL:http://dm-store-aat.service.core-compute-aat.internal}

prd:
  api:
    url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

send-letter:
  url: ${SEND_LETTER_SERVICE_BASEURL:http://rpe-send-letter-service-aat.service.core-compute-aat.internal}

aos_pack:
  due_date_offset_days: ${AOS_PACK_DUE_DATE_OFFSET_DAYS:14}

reissue:
  days_until_overdue:
    digital_aos: 14
    offline_aos: 16
    complete_reissue: 16



case_progression:
  holding_period_in_weeks: ${CASE_HOLDING_WEEKS:20}

court:
  locations:
    serviceCentre:
      serviceCentreName: 'Courts and Tribunals Service Centre'
      centreName: 'HMCTS Digital Divorce'
      town: 'Harlow'
      poBox: 'PO Box 12706'
      postCode: 'CM20 9QT'
      email: 'divorcecase@justice.gov.uk'
      phoneNumber: '0300 303 0642'

pba:
  ref:
    data:
      service:
        url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

payment:
  service:
    api:
      baseurl: ${PAYMENT_API_BASEURL:http://payment-api-aat.service.core-compute-aat.internal}
