server:
  port: 4013

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

spring:
  application:
    name: NFDIV Case API
  config:
    import: "optional:configtree:/mnt/secrets/nfdiv/"
  jackson:
    mapper:
      accept_case_insensitive_enums: true
azure:
  application-insights:
    instrumentation-key: ${APP_INSIGHTS_KEY:00000000-0000-0000-0000-000000000000}

uk:
  gov:
    notify:
      api:
        key: ${UK_GOV_NOTIY_API_KEY:dummy}
        baseUrl: https://api.notifications.service.gov.uk
      email:
        templateVars:
          SAVE_SIGN_OUT:
            signInDivorceUrl: ${NOTIFY_TEMPLATE_SIGN_IN_DIVORCE_URL:https://nfdiv-apply-for-divorce.aat.platform.hmcts.net/}
            signInDissolutionUrl: ${NOTIFY_TEMPLATE_SIGN_IN_DISSOLUTION_URL:https://nfdiv-end-civil-partnership.aat.platform.hmcts.net/}
            divCourtEmail: contactdivorce@justice.gov.uk
            civilPartnershipCourtEmail: endcivilpartnership@justice.gov.uk
        templates:
          english:
            SAVE_SIGN_OUT: '3aff9dc0-0188-42f6-a0be-fc5daa404d9a'
          welsh:
            SAVE_SIGN_OUT: '3aff9dc0-0188-42f6-a0be-fc5daa404d9a'

s2s-authorised:
  services: ${S2S_AUTHORISED_SERVICES:ccd_data}

idam:
  s2s-auth:
    url: ${S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
  api:
    url: ${IDAM_API_BASEURL:http://localhost:5000}
  client:
    id: 'divorce'
    secret: ${IDAM_CLIENT_SECRET:123456}
    redirect_uri: ${IDAM_API_REDIRECT_URL:http://localhost:3001/oauth2/callback}
    cache:
      refresh-before-expire-in-sec: 300
fee:
  api:
    baseUrl: ${FEE_API_URL:http://fees-register-api-aat.service.core-compute-aat.internal}

s2s:
  stub: false
