uk:
  gov:
    notify:
      api:
        key: dummy
        baseUrl: https://api.notifications.service.gov.uk
      email:
        templateVars:
          signInDivorceUrl: ${NOTIFY_TEMPLATE_SIGN_IN_DIVORCE_URL:https://nfdiv-apply-for-divorce.aat.platform.hmcts.net}
          applicant2SignInDivorceUrl: ${NOTIFY_TEMPLATE_APPLICANT2_SIGN_IN_DIVORCE_URL:https://nfdiv-apply-for-divorce.aat.platform.hmcts.net/applicant2}
          signInDissolutionUrl: ${NOTIFY_TEMPLATE_SIGN_IN_DISSOLUTION_URL:https://nfdiv-end-civil-partnership.aat.platform.hmcts.net}
          applicant2SignInDissolutionUrl: ${NOTIFY_TEMPLATE_APPLICANT2_SIGN_IN_DISSOLUTION_URL:https://nfdiv-end-civil-partnership.aat.platform.hmcts.net/applicant2}
          divorceCourtEmail: contactdivorce@justice.gov.uk
          dissolutionCourtEmail: endcivilpartnership@justice.gov.uk
        templates:
          english:
            SAVE_SIGN_OUT: '70dd0a1e-047f-4baa-993a-e722db17d8ac'
          welsh:
            SAVE_SIGN_OUT: '70dd0a1e-047f-4baa-993a-e722db17d8ac'

idam:
  s2s-auth:
    url: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    secret: AAAAAAAAAAAAAAAA
    microservice: nfdiv_case_api
  api:
    url: http://localhost:5000
  systemupdate:
    username: dummy@test.com
    password: dummy
  client:
    id: 'divorce'
    secret: BBBBBBBBBBBBBBBB
    redirect_uri: http://localhost:3001/oauth2/callback

s2s-authorised:
  services: ccd_data

fee:
  api:
    baseUrl: http://localhost:4010

s2s:
  stub: true

core_case_data:
  api:
    url: http://localhost:4012
  search:
    page_size: 100

spring:
  main:
    allow-bean-definition-overriding: true

doc_assembly:
  url: ${DOC_ASSEMBLY_URL:http://dg-docassembly-aat.service.core-compute-aat.internal}

docmosis:
  templates:
    english:
      DIVORCE_APPLICATION_SOLE: NFD_CP_Application_Sole.docx
      DIVORCE_APPLICATION_JOINT: NFD_CP_Application_Joint.docx
      DIVORCE_DRAFT_APPLICATION: NFD_CP_Mini_Draft_Application_Template.docx
      RESP_SOLICITOR_AOS_INVITATION: NFD_CP_Dummy_Template.docx #TODO: Set correct template when available
      CITIZEN_RESP_AOS_INVITATION: NFD_CP_Dummy_Template.docx #TODO: Set correct template when available
      DIVORCE_GENERAL_ORDER: NFD_General_Order_Eng.docx #TODO: update template once available
      RESPONDENT_ANSWERS: NFD_Respondent_Answers_Eng.docx #TODO: update content
      CERTIFICATE_OF_SERVICE: NFD_Certificate_Of_Service.docx #TODO: update content
      SERVICE_ORDER: NFD_Service_Order.docx #TODO: update content
    welsh:
      DIVORCE_APPLICATION_SOLE: NFD_CP_Dummy_Template.docx #TODO: Set correct template when available
      DIVORCE_APPLICATION_JOINT: NFD_CP_Dummy_Template.docx #TODO: Set correct template when available
      DIVORCE_DRAFT_APPLICATION: NFD_CP_Dummy_Template.docx #TODO: Set correct template when available
      RESP_SOLICITOR_AOS_INVITATION: NFD_CP_Dummy_Template.docx #TODO: Set correct template when available
      CITIZEN_RESP_AOS_INVITATION: NFD_CP_Dummy_Template.docx #TODO: Set correct template when available
      DIVORCE_GENERAL_ORDER: NFD_General_Order_Eng.docx #TODO: update template once available
      RESPONDENT_ANSWERS: NFD_Respondent_Answers_Eng.docx #TODO: update template once available
      CERTIFICATE_OF_SERVICE: NFD_Certificate_Of_Service.docx #TODO: update content
      SERVICE_ORDER: NFD_Service_Order.docx #TODO: update content

document_management:
  url: ${DOCUMENT_MANAGEMENT_URL:http://dm-store-aat.service.core-compute-aat.internal}

prd:
  api:
    url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

send-letter:
  url: ${SEND_LETTER_SERVICE_BASEURL:http://rpe-send-letter-service-aat.service.core-compute-aat.internal}

aos_pack:
  due_date_offset_days: 16

case_progression:
  holding_period_in_weeks: ${CASE_HOLDING_WEEKS:20}

court:
  locations:
    serviceCentre:
      serviceCentreName: 'Courts and Tribunals Service Centre'
      centreName: 'HMCTS Digital Divorce'
      town: 'Harlow'
      poBox: 'PO Box 12706'
      postCode: 'CM20 9QT'
      email: 'divorcecase@justice.gov.uk'
      phoneNumber: '0300 303 0642'

pba:
  ref:
    data:
      service:
        url: ${PRD_API_BASEURL:http://rd-professional-api-aat.service.core-compute-aat.internal}

payment:
  service:
    api:
      baseurl: http://localhost:4015

bulk-action:
  min-cases: 30
  page-size: 50
