.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

.vscode/
node_modules/
*.xls
*.xlsx
yarn-error.log

### Generated CCD Json Definition ###
definitions/development/AuthorisationCaseEvent
definitions/development/AuthorisationCaseField
definitions/development/CaseEvent
definitions/development/CaseTypeTab
definitions/development/ComplexTypes
definitions/development/FixedLists
definitions/development/AuthorisationCaseState.json
definitions/development/CaseField.json
definitions/development/Jurisdiction.json
definitions/development/State.json
definitions/development/WorkBasketInputFields.json
definitions/development/WorkBasketResultFields.json
