apiVersion: v2
appVersion: "1.0"
description: A Helm chart for nfdiv-case-api App
name: nfdiv-case-api
home: https://github.com/hmcts/nfdiv-case-api
version: 0.0.95
maintainers:
  - name: HMCTS nfdiv team
dependencies:
  - name: java
    version: 5.2.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: idam-pr
    version: 2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: nfdiv-frontend
    version: ~0.0.68
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: nfdiv-frontend.enabled
  - name: ccd-def-cleanup
    version: ~9.0.4
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-def-cleanup.enabled
