name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  gradle:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        task: ['check', 'integration']
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: 17
          cache: 'gradle'
      - name: Run task
        run: ./gradlew ${{ matrix.task }}
